.container {
    align-items: center;
    flex-direction: column;
    display: flex;
    
}

.barra{
    width: 20px;
    height: 150px;
    background-color: black;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.semaforo {
width: 100px;
height: auto;
background-color: black;
flex-direction: column;
display: flex;
align-items: center;
border-radius:10px;

}

.luz {
    width: 60px;
    height:60px;
    border-radius:60%;
    cursor: pointer;
    margin-top: 2px;
    
}

.roja {
    background-color: red;
    margin-top: 4px;
    margin-bottom: 4px;
}
.amarilla {
    background-color: yellow;
    margin-top: 4px;
    margin-bottom: 4px;
}
.verde {
    background-color: green;
    margin-top: 4px;
    margin-bottom: 4px;
}

.on {
    box-shadow: 0 0 30px 10px white;
    opacity: 1;

}